<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%=app_name%>
    </title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/../css/sb-admin.css" rel="stylesheet">

    <!-- Toast -->
    <link href="/../toastr/toastr.min.css" rel="stylesheet" />

    <!-- Ícone -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />

    <link rel="stylesheet" type="text/css" href="/DataTables/Buttons-1.5.2/css/buttons.bootstrap.min.css" />
</head>

<body id="page-top">
    <% include ../comum/navbar %>

        <div id="wrapper">
            <div id="content-wrapper">
                <div class="container-fluid">

                    <!-- Page Content -->
                    <div class="card">
                        <div class="card-header">Alterar | Permissão Tela</div>
                        <div class="card-body">

                            <div class="tab-content" id="nav-tabContent">

                                <div class="table-responsive mt-3">
                                    <table class="table table-hover table-bordered table-sm gridPermissoesTela"
                                        id="gridPermissoesTela" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tela</th>
                                                <th>Grupo</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div class="table-responsive">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

            <% include ../comum/footer %>
        </div>
        <!-- /.content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <% include ../comum/logout %>
            <!-- Bootstrap core JavaScript-->
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
            <script type="text/javascript" src="/js/jQuery-Mask-Plugin/jquery.mask.min.js"></script>
            <!-- Custom scripts for all pages-->
            <script src="/js/sb-admin.min.js"></script>
            <!-- Toastr -->
            <script src="/toastr/toastr.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <!-- Datatable -->
            <script type="text/javascript" src="/DataTables/datatables.min.js"></script>
            <script>
                $(document).ready(() => {
                    // Definições do Toastr
                    toastr.options = {
                        "closeButton": true,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right"
                    }
                    $.fn.dataTable.ext.errMode = 'none';

                    var grid_permissoes_tela = $('#gridPermissoesTela').DataTable({
                        "stateSave": false,
                        "searching": true,
                        "ordering": false,
                        "paging": true,
                        "info": true,
                        "autoWidth": true,
                        "language": {
                            "url": "/DataTables_Translate/Portuguese-Brasil.json"
                        },
                        "processing": false,
                        "serverSide": false,
                        "ajax": {
                            "dataType": 'json',
                            "contentType": "application/json; charset=UTF-8",
                            "url": "/listar_permissoes_tela",
                            "type": 'GET'
                        },
                        "columns": [{
                            "data": "DESCRICAO"
                        }, {
                            "data": "GRUPO"
                        }, {
                            "targets": -1,
                            "data": null,
                            "defaultContent": `<div class="row">
													<%if(recordsPermissoes.indexOf('E') != -1){%>
                                                    <div class="col-sm-6" style='cursor:pointer' id='btnExcluirAcessoGrupo'>
														<i class="fas fa-trash-alt fa-1x" style="color:#FF0000"></i>
													</div>
                                                    <%}%>
                                                </div>`,
                            "width": "5%"
                        }]
                    });

                    $('#gridPermissoesTela tbody').on('click', '#btnExcluirAcessoGrupo', function () {
                        var data = grid_permissoes_tela.row($(this).parents('tr')).data();

                        $.ajax({
							url: "/deletar_permissao_tela/" + data.ID,
							type: 'delete',
							beforeSend: (data) => {
								$("body").addClass("loading");
							}
						})
							.done((msg) => {
								$("body").removeClass("loading");
								if (msg.tipo == "success") {
									grid_permissoes_tela.ajax.reload();
									toastr.success(msg.message, "Sucesso");
								} else {
									toastr.warning(`Falha ao excluir o Acesso.<br>` + msg.message, "Falha");
								}
							})
							.fail((request, textStatus, errorThrown) => {
								console.log(request.responseJSON);
								toastr.error("Erro.<br>" + request.responseJSON, "Falha");
							})
							.always(() => {
								$("body").removeClass("loading");
							});
                    });
                });
            </script>
            <div class="customLoading"></div>
</body>

</html>