<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>
		<%=app_name%>
	</title>

	<!-- Custom fonts for this template-->
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="/../css/sb-admin.css" rel="stylesheet">

	<!-- Toast -->
	<link href="/../toastr/toastr.min.css" rel="stylesheet" />

	<!-- Ícone -->
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

	<!-- Datatable -->
	<link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />

	<link rel="stylesheet" type="text/css" href="/DataTables/Buttons-1.5.2/css/buttons.bootstrap.min.css" />
</head>

<body id="page-top">
	<% include ../comum/navbar %>

		<div id="wrapper">
			<div id="content-wrapper">
				<div class="container-fluid">

					<!-- Page Content -->
					<div class="card">
						<div class="card-header">Cadastrar | Funcionário</div>
						<div class="card-body">
							<div class="tab-content" id="nav-tabContent">

								<form method="POST" action="/cadastrar_funcionario">
									<div class="form-group row">
										<label for="nome_completo_funcionario" class="col-sm-2 col-form-label">Nome Completo:
										</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="nome_completo_funcionario"
												placeholder="Nome Completo do Funcionário" name="nome_completo_funcionario" required>
										</div>
									</div>
									<div class="form-group row">
										<label for="cpf_cnpj_funcionario" class="col-sm-2 col-form-label">CPF: </label>
										<div class="col-sm-4">
											<input type="number" class="form-control" id="cpf_cnpj_funcionario"
												placeholder="CPF do Funcionário" name="cpf_cnpj_funcionario">
										</div>
										<label for="funcao_funcionario" class="col-sm-2 col-form-label">Cargo: </label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="funcao_funcionario"
												placeholder="Função do Funcionário" name="funcao_funcionario">
										</div>
										
									</div>
									<div class="form-group row">
										<label for="data_admissao" class="col-sm-2 col-form-label">Data Admissão: </label>
										<div class="col-sm-4">
											<input type="date" class="form-control" id="data_admissao"
												name="data_admissao">
										</div>
										<label for="data_demissao" class="col-sm-2 col-form-label">Data Demissão: </label>
										<div class="col-sm-4">
											<input type="date" class="form-control" id="data_demissao"
												name="data_demissao">
										</div>
									</div>							
									<button type="submit" class="btn btn-primary my-1">Salvar</button>
								</form>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- /.container-fluid -->

		<% include ../comum/footer %>
			</div>
			<!-- /.content-wrapper -->
			</div>
			<!-- /#wrapper -->
			<% include ../comum/logout %>
				<!-- Bootstrap core JavaScript-->
				<script src="/vendor/jquery/jquery.min.js"></script>
				<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
				<!-- Core plugin JavaScript-->
				<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
				<script type="text/javascript" src="/js/jQuery-Mask-Plugin/jquery.mask.min.js"></script>
				<!-- Custom scripts for all pages-->
				<script src="/js/sb-admin.min.js"></script>
				<!-- Toastr -->
				<script src="/toastr/toastr.min.js"></script>
				<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
				<!-- Datatable -->
				<script type="text/javascript" src="/DataTables/datatables.min.js"></script>
				<div class="customLoading"></div>
</body>

</html>